---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import profile from "../assets/profile.jpg";
import Experience from "../components/experience/Experience";
---

<PageLayout title="About Me">
  <div>
    <p class="text-lg">
      <a href="/" class="text-zinc-400">← Back Home</a>
    </p>
    <h1 class="font-display text-7xl font-bold">About Me</h1>
  </div>
  <div class="flex gap-10">
    <div class="flex w-2/3 flex-col gap-8">
      <div class="flex flex-col gap-4">
        <p>Hi! I'm Luke. Nice to meet you! 👋</p>

        <p>
          I'm a frontend developer based in Bratislava, Slovakia. I'm 23 years
          old. I've always loved new technologies and discovering new ways to
          create things! Hope you enjoy my portfolio! 😊
        </p>
      </div>

      <div class="flex flex-col gap-4">
        <h3 class="font-display text-4xl font-bold">What do I do?</h3>
        <p>
          I've been learing web development since I was 10 years old and I've
          been working as a professional developer since 2019. I've worked in
          multiple companies in both startup and corporate environments. I've
          always been passionate about web development and I always wanted to
          learn as much as I can to keep up with the latest trends. 😊
        </p>
        <p>
          I'm currently working as a frontend developer at a startup called
          Akular as a frontend developer. And I use Vim, btw (had to mention)
        </p>
      </div>
      <h2 class="font-display text-6xl font-bold">Experience</h2>
    </div>
    <div class="w-1/3">
      <Image
        class="shadow-[10px_10px_0px_0px] shadow-white transition-shadow duration-300 hover:shadow-[20px_20px_0px_0px]"
        src={profile}
        alt="Profile"
        loading="eager"
      />
    </div>
  </div>

  <div class="flex flex-col gap-8 border-r-2 border-dashed pr-8">
    <div class="flex flex-col gap-2">
      <h2 class="text-3xl font-bold">AKULAR</h2>
      <p class="text-lg font-semibold">Frontend developer</p>
      <p class="text-base">Jun 2022 - Present</p>
      <p class="text-xl">
        In my most recent role, which I began while still pursuing my university
        studies—a commitment I maintain to this day—I specialize in developing
        an application focused on the visualization of digital twins in
        construction. My work primarily involves utilizing React, TypeScript,
        Material-UI (MUI), and GraphQL, with integration into AWS for cloud
        services and Hasura for efficient data management. This role allows me
        to contribute significantly to the innovative field of construction
        visualization, leveraging advanced technologies to enhance user
        experience and data interaction.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-3xl font-bold">
        Faculty of Informatics and Information Technologies, Slovak University
        of Technology
      </h2>
      <p class="text-lg font-semibold">Teaching Assistant</p>
      <p class="text-base">Sep 2023 - Feb 2024</p>
      <p class="text-xl">
        In my next position, while continuing my studies, I took on the role of
        instructing JavaScript to fellow university students at my alma mater.
        This opportunity allowed me to share my expertise and enthusiasm for
        programming, enhancing my pedagogical skills and reinforcing my
        understanding of JavaScript fundamentals within an academic setting.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-3xl font-bold">PosAm</h2>
      <p class="text-lg font-semibold">Junior Deleloper</p>
      <p class="text-base">Feb 2021 - Jun 2022</p>
      <p class="text-xl">
        During my university studies, I started a position where I continued to
        harness Angular for development purposes. Additionally, I expanded my
        technical repertoire by writing automated tests using Robot Framework.
        This role was instrumental in the development of a project for a power
        plant, allowing me to contribute significantly while enhancing my skills
        in both front-end development and quality assurance.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-3xl font-bold">Asseco Central Europe</h2>
      <p class="text-lg font-semibold">Junior Delevoper</p>
      <p class="text-base">Jun 2019 - Aug 2019</p>
      <p class="text-xl">
        Following my high school graduation, I started on an internship where I
        focused on developing a banking application using Angular. This
        experience allowed me to apply and enhance my programming skills in a
        real-world financial technology environment, contributing to projects
        while gaining valuable industry knowledge.
      </p>
    </div>
  </div>
</PageLayout>
