---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About Me">
  <h1 class="text-5xl">About Me</h1>
  <p>
    Hi! I'm Luke. Nice to meet you! 👋
    <br />
    <br />
    I'm a frontend developer based in Bratislava, Slovakia. I'm 23 years old. I've
    always loved new technologies and discovering new ways to create things! Hope
    you enjoy my portfolio! 😊
  </p>
  <br />
  <p>
    I've been learing web development since I was 10 years old and I've been
    working as a professional developer since 20.6. I've worked in multiple
    companies in both startup and corporate environments. I've always been
    passionate about web development and I always wanted to learn as much as I
    can to keep up with the latest trends. 😊
    <br />
    <br />
    I'm currently working as a frontend developer at a startup called Akular as a
    frontend developer. And I use Vim, btw (had to mention)
  </p>
</PageLayout>
