---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Projects">
  <p class="text-2xl">
    This page will serve as a list of projects I have worked on (Once I finish
    any worth putting here).
  </p>
</PageLayout>
