---
import "../styles/globals.css";
import HomeLayout from "./HomeLayout.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<HomeLayout title={title}>
  <div class="container mx-auto flex flex-col gap-6 p-6 font-serif text-xl">
    <slot />
  </div>
</HomeLayout>
